# Para Delphi / RAD Studio:
# ==========================================
# Ignorar carpetas de compilación (Outputs)
# ==========================================
Win32/
Win64/
Android/
Android64/
iOSDevice32/
iOSDevice64/
iOSSimulator/
OSX32/
OSX64/
OSXARM64/
Linux64/

# ==========================================
# Ignorar respaldos automáticos del IDE
# ==========================================
__history/
__recovery/

# ==========================================
# Ignorar preferencias locales y caché
# ==========================================
*.dcu
*.local
*.identcache
*.stat
*.tvsconfig
*.dproj.local

# ==========================================
# Ignorar binarios y temporales de compilación
# ==========================================
*.dcu
*.exe
*.apk
*.aab
*.o
*.a
*.so
*.map
*.rsm
*.drc


# Para Java:
# Archivos compilados 
*.class

# Empaquetados
*.jar
*.war
*.ear

# Directorios de compilación (si usan Maven o Gradle)
target/
build/
.gradle/


# Generales (Sistemas Operativos e IDEs):
# Archivos ocultos del sistema
.DS_Store
Thumbs.db

# Configuraciones locales de editores (opcional)
.vscode/
.idea/
*.suo
*.user


# Unwanted Folders
Extras/ 